[Unit]
Description=VPN network namespace over pippi.tedx.ee
After=openvpn@pippi.tedx.ee.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/ip netns add pippinet
ExecStart=-/usr/bin/openvpn --mktun --dev tun0
ExecStart=/usr/bin/ip link set tun0 netns pippinet
ExecStart=/usr/bin/ip netns exec pippinet /usr/bin/ip link set dev tun0 up mtu 1500
ExecStart=/usr/bin/ip netns exec pippinet /usr/bin/ip addr add dev tun0 local 10.8.0.6 peer 10.8.0.1
ExecStart=/usr/bin/ip netns exec pippinet /usr/bin/ip route add default via 10.8.0.1
ExecStop=/usr/bin/ip netns delete pippinet

[Install]
WantedBy=multi-user.target
