Protocol 2
ForwardX11 yes
Compression yes

ControlMaster auto
ControlPersist yes
ControlPath ~/.ssh/socket-%r@%h:%p

host athena
	Hostname athena.dialup.mit.edu
	User andreser
	GSSAPIAuthentication yes
	GSSAPIDelegateCredentials yes

host linerva
	Hostname linerva.mit.edu
	User andreser
	GSSAPIAuthentication yes
	GSSAPIDelegateCredentials yes
