Protocol 2
Compression yes

# ControlMaster auto
# ControlPersist 1h
# ControlPath ~/.ssh/socket-%r@%h:%p
# TCPKeepAlive no
# ServerAliveInterval 10
# ServerAliveCountMax 3

Host athena
	Hostname athena.dialup.mit.edu
	User andreser
	GSSAPIAuthentication yes
	GSSAPIDelegateCredentials yes
	ForwardX11 yes

Host xvm-console
	Hostname xvm-console.mit.edu
	User andreser
	GSSAPIAuthentication yes
	PubkeyAuthentication no

Host ozok
	Hostname OZOK-THE-DESTROYER.MIT.EDU
	User andreser
	GSSAPIAuthentication yes
	GSSAPIDelegateCredentials yes
	ForwardX11 yes

Host nublu
	Hostname localhost
	User andres
	Port 19999

Host ben
	Hostname ben.csail.mit.edu
	User andreser

Host apple
	Hostname 172.16.42.1
	User root

Host kakuke
	ProxyCommand ssh pippi.tedx.ee -W localhost:60001

Host must
	ProxyCommand ssh pippi.tedx.ee -W localhost:60002

Host nickolai-coqdev
	Hostname nickolai-coqdev.csail.mit.edu
	ForwardX11 yes
	User andreser
