[Unit]
Description=Offlineimap mail synchorizer

[Service]
ExecStart=/usr/bin/offlineimap
KillSignal=SIGUSR2
Restart=always

[Install]
WantedBy=default.target
